<h1>Welcome to FreshnGreen</h1>

<div class ="container">
 <div class="center-block">
   
   
   <h2><%= link_to 'create profile', new_user_profile_path %></h2>
   
   
   <h2><%= link_to 'products', products_path %></h2>
   <span>
   <img src="/images/echinaecea.jpg" alt="Echineacea" style="width:304px;height:228px;">
   <img src="/images/naturalskincare.jpg" alt="Naturalskincare" style="width:304px;height:228px;">
   <img src="/images/aloeveragel.jpg" alt="Aloeveragel" style="width:304px;height:228px;">
   
   </span>
   
 </div>
 
 
 
</div>
